<div>
  <span>{{ reply.name or ("#" + reply.display_id) }}</span>
  <span>{{ reply.created_at }}</span>
  {% if reply.deleted %}
  <p><em>[post was deleted by {{ reply.deleted_by or 'unknown' }}]</em></p>
  {% else %}
  <button hx-delete="/boards/{{ reply.board_id }}/posts/{{ reply.id }}"
          hx-target="closest div"
          hx-swap="outerHTML"
          hx-confirm="Delete this post?">Delete</button>
  <p>{{ reply.body }}</p>
  <div class="gallery">
  {% for image in reply.images %}
  {% include "_file.html" %}
  {% endfor %}
  </div>
  {% endif %}
</div>
