<!DOCTYPE html>
<html>
<head>
  <title>{{ board.name }}</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplelightbox@2/dist/simple-lightbox.min.css">
  <script src="https://cdn.jsdelivr.net/npm/simplelightbox@2/dist/simple-lightbox.min.js"></script>
</head>
<body>
  <div class="container glass">
  <header class="glass">
    <div class="header-text glass">
    <h1>/{{ board.name }}/</h1>
    <p>{{ board.description }}</p>
    </div>
    <a class="back-button glass" href="/boards">All boards</a>
    <button class="glass" onclick="this.nextElementSibling.hidden=!this.nextElementSibling.hidden">New Post</button>
    <form class="new-post-form glass" hidden method="post" action="/boards/{{ board.id }}/posts" enctype="multipart/form-data">
    <input name="name" placeholder="Name (optional)">
    <input name="title" placeholder="Title">
    <textarea name="body" placeholder="Body"></textarea>
    <input name="files" type="file" multiple>
    <button type="submit" class="submit-button glass">Submit</button>
    </form>
  </header>
  {% for post in posts %}
  {% set title_link = true %}{% set no_reply_form = true %}{% set max_size = 150 %}{% include "_post.html" %}
  {% endfor %}
  <script>new SimpleLightbox('.gallery a');</script>
  </div>
</body>
</html>
