<!DOCTYPE html>
<html>
<head>
  <title>{{ post.title or 'Thread' }} - /{{ board.name }}/</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://unpkg.com/htmx.org@2"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplelightbox@2/dist/simple-lightbox.min.css">
  <script src="https://cdn.jsdelivr.net/npm/simplelightbox@2/dist/simple-lightbox.min.js"></script>
</head>
<body>
  <div class="container glass">
    <header class="glass">
      <div class="header-text glass">
      <h1>/{{ board.name }}/</h1>
      </div>
      <a class="back-button glass" href="/boards/{{ board.id }}/posts">Back</a>
    </header>
    {% include "_post.html" %}
    <div id="replies">
    {% for reply in replies %}
    {% set post = reply %}{% set title_link = false %}{% set no_reply_form = false %}{% include "_post.html" %}
    {% endfor %}
    </div>
  </div>
  <script>var _lb=new SimpleLightbox('.gallery a');document.body.addEventListener('htmx:afterSwap',function(){_lb.destroy();_lb=new SimpleLightbox('.gallery a')});</script>
</body>
</html>
